$pc_min_width: 750px;
$blue: #6acee8;
$black: #000000;
$white: #ffffff;
$gray: #707070;
$yellow: #ffcc00;
$red: #ff6969;
$naviFontSize: 16px;
$sentenceFontSize: 23px;

$good-easing-1: cubic-bezier(0, 0.5, 0.5, 1);
$good-easing-2: cubic-bezier(0, 0, 0, 1);
$good-easing-3: cubic-bezier(0.5, 0.5, 0.65, 1.25);
$good-easing-4: cubic-bezier(0.1, 0.65, 0.4, 1.24);
$good-easing-5: cubic-bezier(0.1, 0.65, 0.4, 1.1);

$good-easing-out-1: cubic-bezier(0.3, -0.15, 0.75, 0);
